# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

# Build
DerivedData/
build/
*.ipa

# SPM
.build/
.swiftpm/

# macOS
.DS_Store
*.swp

# User-specific
xcuserdata/
*.xcuserdatad/

# Secrets
*.xcconfig
Secrets.swift
Config.swift
